{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto"
}
