html,
body {
}

#start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

div#awesome_parent {
  display: none;
  min-height: calc(100vh - 100px);
  width: 100%;
  transition: background-color 2s ease;
}
div#awesome_div {
  transition: color 2s ease;
  text-align: center;
  display: table-cell;
  font-size: 80px;
  vertical-align: middle;
}
