label.form-label {
  width: 112px;
  display: inline-table;
  vertical-align: middle;
}

input[type=text] {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: white;
}

.corrects input {
  background-color: #6aaa64;
  width: 30px;
  height: 30px;
  border: 2px solid #787c7e;
}

input.incorrect {
  background-color: #86888a;
  height: 30px;
  border: 2px solid #787c7e;
  width: 200px;
}
input.correct {
  background-color: #6aaa64;
  height: 30px;
  border: 2px solid #787c7e;
  width: 200px;
}

.maybecorrects input {
  background-color: #c9b458;
  width: 30px;
  height: 30px;
  border: 2px solid #787c7e;
}

.stat-letter {
  margin: 5px 0px 5px 0px;
  display: inline-block;
  height: 100%;
  text-align: center;
  content: '';
  font-weight: 600;
  width: 30px;
}

.stat-letter-block {
  border: solid 1px #787c7e;
  width: 20px;
  margin-right: 5px;
}
.included-stat {
  color: white;
  background-color: #6aaa64;
}
.included-stat-wrong-spot {
  color: white;
  background-color: #c9b458;
}

#randomWord {
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 56px;
}
body {
  font-family: Arial;
  margin-left: auto;
  margin: 16px;
}
pre {
  font-family: sans-serif;
  text-transform: uppercase;
  column-count: 4;
}

pre.score {
  column-count: 2;
}

#results {
  margin-top: 10px;
}
.panels {
  max-height: 300px;
  overflow-y: auto;
}
#results [role=tablist] {
  border-bottom: solid 1px #787c7e;
}

#results button[role=tab] {
  border: solid 1px #787c7e;
  color: inherit;
  background-color: inherit;
  border-bottom: none;
  padding: 8px 12px;
}

#results button[role=tab]:hover, #results button[role=tab]:focus, #results button[role=tab][aria-selected=true]  {
  color: black;
  background-color: #c9b458;
}

button {
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  outline: 0;
  border: solid 1px #787c7e;
}
button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

#submit {
  color: white;
  background-color: #6aaa64;
}

.info {
  background-color: #00a5ff;
  border: none;
  border-radius: 100%;
  padding: 8px;
  line-height: 3px;
  color: white;
  font-family: initial;
  font-style: italic;
  font-weight: 900;
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
}
.modal-layer {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal {
  display: block;
  background-color: white;
  width: 80vw;
  height: 600px;
  border-radius: 4px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.modal-content {
  height: 500px;
  margin: 0 20px;
  overflow-y: auto;
}
.modal-content img {
  max-width: 100%;
}
.close-modal {
  border: none;
}

.form-row {
  width: 340px;
}
.form-controls {
  width: 332px;
}

.form-row, .form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-input {
  width: 216px;
  margin-left: 12px
}

.form-controls {
  line-height: 32px;
}

.form-input > input[type=checkbox] {
  margin-left: 0;
}
